
		#menu { height:40px; WIDTH:230px; float="left"; background-color:#00FFFF; border-radius: 15px; box-shadow: 6px 6px 6px black; text-shadow: 2px 2px 4px black}
		#ada{height:40px; WIDTH:230px; float="left"; background-color:#00FFFF; border-radius: 15px; box-shadow: 6px 6px 6px black; text-shadow: 2px 2px 4px black}
		#men { height:25px; WIDTH:120px; float="left"; background-color:#FFFF00; border-radius: 15px; box-shadow: 2px 2px 2px black; text-shadow: 2px 2px 4px red}
		#me { height:25px; WIDTH:150px; float="left"; background-color:#3299CC; border-radius: 15px; box-shadow: 2px 2px 2px black; text-shadow: 2px 2px 4px green}
		#kali{height:750px; WIDTH:250px; float="left"; background-color:#5F9F9F; border-radius: 15px; box-shadow: 6px 6px 6px black; text-shadow: 2px 2px 4px black; text-align:center;}
		#tot{ height:40px; WIDTH:230px; float="left"; background-color:#00FFFF; border-radius: 15px; box-shadow: 6px 6px 6px black; text-shadow: 2px 2px 4px black}
		#wrap {float:100px;


    width: 1200px;
    height:auto;
    background: transparent;
        background-color:#E6E8FA;
        background-image: none;
        background-repeat: repeat;
        background-attachment: scroll;
        background-clip: border-box;
        background-origin: padding-box;
        background-size:auto; 
        border-radius: 15px;
    margin:none;
    border: 0px solid #000;
    box-shadow: 2px 2px 10px #ADEAEA;

    }
#wra{float:100px;


    width: 1200px;
    background: transparent;
        background-color:#E6E8FA;
        background-image: none;
        background-repeat: repeat;
        background-attachment: scroll;
        background-clip: border-box;
        background-origin: padding-box;
        background-size:auto; 
        border-radius: 15px;
    margin:none;
    border: 0px solid #000;
    box-shadow: 2px 2px 10px #ADEAEA;

    }


body
{
    margin: 30px ;
    padding: 30px ;
    text-align: left;
    background:#800000;
    font-size: 13px;
    color:#000;
    font-family: tahoma, arial , sans-serif;
    height: auto;

}
#aa
{
    margin-left: 1cm;
    margin-right:1cm;
    border: 3px solid  blue ;
    border-radius: 15px;
    display: inline-block;
    vertical-align: top;
    width:1100px;
    height:auto;
   
    position: abso;
   
     
}
#bb
{position: absolute;
    right: ;
    bottom:auto;
    top:10cm;
    left:8.5cm;
    z-index:1;
    border: 0px solid  blue;
		
		opacity:.6;
}
#mat {
    width: 7cm;
    margin: 0;
    padding: 3px 10px;
    font-size: 14px;
    color: #32c000;
    border: 4px solid #84d966;
    border-radius: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
    line-height: 25px;
    list-style: none;}
    ul{
			margin:0px;
			padding:0px;
			list-style:none;
		}
	ul li{
		float:top;
		width:230px;
		height:50px;
		background-color:black;
		opacity:.6;
		border-radius:15px 0px 15px 0px;
		line-height:40px;
		text-align:center;
		font-size:30px;
		margin-top:10px;
		margin-bottom:5px;
		border-top: 2px solid blue;
    	border-bottom: 2px solid blue;
    	border-right:2px solid blue;
    	border-left:2px solid blue;
    
	}
	ul li a
	{
		text-decoration:none;
		color:white;
		display:block;
	}
	ul li a:hover{
		background-color:#5F9F9F;
	}
	#hh{
		border: 0px solid  blue;
		height:1.5cm;
		border-radius:15px 15px 15px 15px;
		background-color:black;
		opacity:.5;

	}
#hhh{
		border: 0px solid  blue;
		height:2cm;
		width:1200px;
		border-radius:15px 15px 15px 15px;
		background-color:black;
		opacity:.5;

	}
#th{
	height:auto;
	width:20cm;
	text-align:justify;
}

